* {
    font: normal 11pt arial;
    font: bold;
}

body {
    background-image: url(https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    border: solid 3px black;
    padding: 5px 5px;
    margin: 5px;
}

#tabela {
    width: 100%;
    border: solid 1px;
    text-align: center;
    background-color: rgb(63, 34, 5);
    border-radius: 5px;
}

td {
    border: solid 1px;
    background-color: rgb(134, 102, 90);
    height: 7vh;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: rgb(231, 101, 61);
}

td img {
    border-radius: 15px;
}